.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    color:aliceblue;
    border-radius: 2%;
    background-color:coral;
    position: absolute;
    position: fixed;
    overflow: hidden;
    border: 1pt solid black;
}
.firstbox {
    text-align: center;
}
.nacl {
    font-size: 14pt;
    text-align: center;
}
.field {
     display: flex;
     justify-content: flex-end;
     margin-left: 5%;
     /*margin-right: 5%;*/
     padding: 10px;
}
.field > label {
    flex: 1;
    
}
.field > form {
    flex: 1;
}
.section {
    display: flex;
     justify-content: flex-end;
     margin-left: 5%;
     /*margin-right: 5%;*/
     padding: 10px;
}
.section > label {
    flex: 1;
}
.section > form {
    flex: 2;
}
.text {
    font-size: 13pt;
    width: 150px;
}
.textbox
{
    font-size: 13pt;
    width: 40%;
    height: 15px;
    margin: 5px;
}
.forma {
    margin-right: 10%;
    height: 22px;
}
.button {
    text-align: center;
    padding: 4%;
}