.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    color:aliceblue;
    border-radius: 2%;
    background-color:coral;
    position: absolute;
    width: 30%;
    position: fixed;
    overflow: hidden;
}
.firstbox {
    text-align: center;
}
.text {
    font-size: 13pt;
    /*border: 1pt solid black;*/
    width: 50px;
}
.textbox
{
    font-size: 13pt;
    width: 40%;
    height: 15px;
    margin: 5px;
}
.forma {
    margin-right: 10%;
    height: 25px;
}
.nacl {
    font-size: 14pt;
    text-align: center;
}
.field {
    display: flex;
     justify-content: flex-end;
     margin-left: 5%;
     margin-right: 5%;
     padding: 10px;
}
.field > label {
    flex: 1;
}
.field > form {
    flex: 2;
}