.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    color:aliceblue;
    border-radius: 2%;
    background-color:coral;
    position: absolute;
    position: fixed;
    overflow: hidden;
    border: 1pt solid black;
    width: 520px;
    height: 320px;
}
.rows {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.text {
    width: 50%;
    flex: 2;
}
.result {
    width: 50%;
    flex: 1;
    text-align: right;
}